.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: #dd5c05;
    font-size: 36px;
}

p {
    text-align: center;
}

.w-200 {
    width: 200px;
}

.h-200 {
    width: 200px;
}

.m-auto {
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.select-bank {
    font-size: 18px;
    height: 60px;
    width: 234px;
    outline: none;
    border: 1px solid rgb(6, 149, 237);
    border-radius: 4px;
    color: #dd5c05;
}

.account-number {
    font-size: 18px;
    height: 60px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(6, 149, 237);
    border-radius: 4px;
    color: #dd5c05;
}

.bank-option {
    font-size: 14px;
    height: 60px;
    width: 200px;
}

.from-currency {
    font-size: 18px;
    height: 60px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(6, 149, 237);
    border-radius: 4px;
    color: #dd5c05;
}

.to-currency {
    font-size: 18px;
    height: 60px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(6, 149, 237);
    border-radius: 4px;
    color: #dd5c05;
}

.p-1 {
    padding: 1rem;
}

.m-top-2 {
    margin-top: 2rem;
}

.send-now {
    padding: 16px;
    width: 234px;
    height: 60px;
    background-color: rgb(215, 201, 228);
    border-radius: 4px;
    color: #dd5c05;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.send-now:hover {
    background-color: rgb(171, 96, 241);
}

.send-now:active {
    background-color: rgb(81, 51, 110);
}

.send {
    padding: 16px;
    width: 234px;
    height: 60px;
    background-color: rgb(215, 201, 228);
    border-radius: 4px;
    color: #dd5c05;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.send:hover {
    background-color: rgb(171, 96, 241);
}

.send:active {
    background-color: rgb(81, 51, 110);
}

.send-disabled {
    cursor: not-allowed !important;
}

.send-disabled:hover {
    background-color: rgb(215, 201, 228);
}

.send-disabled:active {
    background-color: rgb(215, 201, 228);
}

.home {
    padding: 16px;
    width: 234px;
    height: 60px;
    background-color: rgb(215, 201, 228);
    border-radius: 4px;
    color: #dd5c05;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.home:hover {
    background-color: rgb(171, 96, 241);
}

.home:active {
    background-color: rgb(81, 51, 110);
}

.disp-none {
    display: none !important;
}

.disp-flex {
    display: flex !important;
}

.success {
    font-size: 24px;
    color: #028034;
}