.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: #dd5c05;
    font-size: 36px;
}

p {
    text-align: center;
}

.w-200 {
    width: 200px;
}

.h-200 {
    width: 200px;
}

.m-auto {
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.from-currency {
    font-size: 18px;
    height: 60px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(6, 149, 237);
    border-radius: 4px;
    color: #dd5c05;
}

.to-currency {
    font-size: 18px;
    height: 60px;
    width: 200px;
    outline: none;
    border: 1px solid rgb(6, 149, 237);
    border-radius: 4px;
    color: #dd5c05;
}

.p-1 {
    padding: 1rem;
}

.m-top-2 {
    margin-top: 2rem;
}

.btn-click-me {
    padding: 10px;
    width: 80px;
    height: 40px;
    background-color: rgb(215, 201, 228);
    border-radius: 4px;
    color: #dd5c05;
    border: none;
    cursor: pointer;
}

.btn-click-me:hover {
    background-color: rgb(171, 96, 241);
}

.btn-click-me::after {
    background-color: rgb(81, 51, 110);
}
